.image-container {
  width: 400px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.thumbnail-image {
  cursor: pointer;
}

.video-player-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.close-button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  align-self: flex-end;
}

.close-icon {
  font-size: 25px;
  margin-bottom: 10px;
}
